body{
    background: #8ABDF9;
    background: -webkit-linear-gradient(bottom, #8ABDF9, #DD8C75);
    background: -moz-linear-gradient(bottom, #8ABDF9, #DD8C75);
    background: linear-gradient(to top, #8ABDF9, #DD8C75);
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
}